<!DOCTYPE html>
<html>

<head>
    <title>Kirjaudu sisään</title>
    <link rel="stylesheet" href="/static/main.css">
</head>

<body>
    <h1>Kirjaudu sisään</h1>

    {% for message in get_flashed_messages() %}
        <p class="info">
            {{ message }}
        </p>
    {% endfor %}

    <form action="/login" method="POST">
        <p>Tunnus:<br>
        <input type="text" id="username" name="username" value="{{ filled.username }}"></p>
        <p> Salasana: <br>
        <input type="password" name="password"></p>
        <input type="submit" value="Kirjaudu">
    </form>
    <br>
    <a href="/">Takaisin</a>
</body>

</html>