<h1>{{ title }}</h1>
{% for message in get_flashed_messages() %}
    <p class="info">
        {{ message }}
    </p>
{% endfor %}
<hr>
<p>Luonut: <a href="/profile/{{user_id}}">{{creator}}</a>, {{ created_at }}<br>
<p>Valmistusaika:<br>
<ul>{{ cooking_time}}</ul>
<p>Annoksia:<br>
<ul>{{serving_size}}</ul>
<p>Ainekset:<br>
<ul>
{% for ingredient in ingredients %}
<li>{{ingredient}}</li>
{% endfor %}
</ul>
<p>Valmistusohje:<br>
<ul>
{% for instruction in instructions %}
<li>{{instruction}}</li>
{% endfor %}
</ul>
<hr>
<a id="backLink" href="\page">Takaisin</a>
{% if user_is_creator %}
| <a href="/create/{{ recipe_id }}">Muokkaa</a>
| <a href="/remove/{{ recipe_id }}">Poista</a>
{% endif %}

{% if is_favorite %}
|    <a href="/remove_favorite/{{ recipe_id }}">Poista suosikeista</a>
{% else %}
|    <a href="/add_to_favorites/{{ recipe_id }}">Lisää suosikkeihin</a>
{% endif %}

<br> 

{% if comments %}
<h2>Kommentit</h2>
<ul>
{% for comment in comments %}
<li>{{ comment.comment | show_lines }}<br> Lähettänyt: {{ comment.username }}, {{ comment.sent_at }}
</li>
<br>
{% endfor %}
</ul>
{% endif %}

<h3>Kommentoi</h3>
<form action="/comment/{{recipe_id}}" method="POST">
<textarea id="inputField" name="comment" rows="5" cols="50"></textarea>
<br>
<br>
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
<input type="submit" value="Lähetä">
</form>