<!DOCTYPE html>
<html>

<head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/static/main.css">
</head>



<h1>Resepti</h1>
<div class="nav">
    <nav>
        <ul>
            <li><a href="/search">Haku</a></li>
            <li><a href="/create">Lisää resepti</a></li>
            <li><a href="/recipes">Reseptit</a></li>
            <li><a href="/profile">Oma profiili</a></li>
            <li><a href="/favorites">Suosikit</a></li>
        </ul>
    </nav>
</div>

<div class="recipe">
<h2>{{ title }}</h2>



{% for message in get_flashed_messages() %}
    <p class="info">
        {{ message }}
    </p>
{% endfor %}
<hr>
<p>Luonut: <a href="/profile/{{user_id}}">{{creator}}</a>, {{ created_at }}<br>
<p>Valmistusaika:<br>
<ul>{{ cooking_time}}</ul>
<p>Annoksia:<br>
<ul>{{serving_size}}</ul>
<p>Ainekset:<br>
<ul>
{% for ingredient in ingredients %}
<li>{{ingredient}}</li>
{% endfor %}
</ul>
<p>Valmistusohje:<br>
<ul>
{% for instruction in instructions %}
<li>{{instruction}}</li>
{% endfor %}
</ul>
</div>
<hr>
<a id="backLink" href="\page">Etusivulle</a>
{% if user_is_creator %}
| <a href="/create/{{ recipe_id }}">Muokkaa</a>
| <a href="/remove/{{ recipe_id }}">Poista</a>
{% endif %}

{% if is_favorite %}
|    <a href="/remove_favorite/{{ recipe_id }}">Poista suosikeista</a>
{% else %}
|    <a href="/add_to_favorites/{{ recipe_id }}">Lisää suosikkeihin</a>
{% endif %}

<br> 
<br>

<div class="recipe">
    {% if comments %}
    <h2>Kommentit</h2>
    <ul>
    {% for comment in comments %}
    <li>{{ comment.comment | show_lines }}<br> Lähettänyt: {{ comment.username }}, {{ comment.sent_at }}
    </li>
    <br>
    {% endfor %}
    </ul>
    {% endif %}
</div>

<h3>Kommentoi</h3>
<form action="/comment/{{recipe_id}}" method="POST">
<textarea id="inputField" name="comment" rows="5" cols="50"></textarea>
<br>
<br>
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
<input type="submit" value="Lähetä">
</form>


</html>